<!-- backend/templates/stock_price.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" class="button">Home</a>
            <a href="{{ url_for('add_stock') }}" class="button">Add Stock</a>
            <a href="{{ url_for('portfolio') }}" class="button">Your Portfolio</a>
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
        </nav>
    </header>
    <main>
        <div class="stock-price">
            <h2>Stock Price for {{ symbol }}</h2>
            <p>The current price is ${{ price }}</p>
        </div>
    </main>
</body>
</html>
